.row{
    display: flex;
    flex-wrap: wrap;
    margin:0 -15px;
}
[class*="col-"]{
    padding: 0 15px;
}

.col-1{
    width: 30.33%;
}
.col-2{
    width: 30.33%
}
.col-3{
    width: 30.33%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66;
}
.col-6{
    width: 50%;
}
.col-7{
    width:58.33%;
}
.col-8{
    width:66.66% ;

}